<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


	<menuitem name="gst-root" title="GST" order="-90"
		tag-get="com.axelor.mail.web.MailController:inboxMenuTag()"
		tag="Application" tag-style="info" icon="fa-book"
		icon-background="green" />

	<menuitem name="admin-root-organisation-state"
		parent="admin-root-organisation-territory" title="State"
		action="admin.root.organisation.state" tag="ADDED" />

	<action-view name="admin.root.organisation.state"
		title="States" model="com.axelor.gst.db.State">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>
	
	<menuitem name="menu-gst-dashborad" title="DashBoard"
		action="gst-dashboard" parent="gst-root" />
	<action-view name="gst-dashboard" title="GST Dashboard">
		<view type="dashboard" name="gst.dashboard" />
	</action-view>
	
	
	<action-view name="invoice.root.custinvoices" title="Cust. Invoices"
		model="com.axelor.apps.account.db.Invoice" id="gst.invoice.root.custinvoices">
		<view type="grid" name="invoice-grid"/>
		<view type="kanban" name="gst-invoice-kanban" />
		<view type="form" name="invoice-form"/>
		<view-param name="search-filters" value="customer-invoices-filters"/>
		<domain>self.operationTypeSelect = 3</domain>
		<context name="_operationTypeSelect" expr="eval:3"/>
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>

	<action-view name="invoice.root.custrefunds" title="Cust. Refunds"
		model="com.axelor.apps.account.db.Invoice" id="gst.invoice.root.custrefunds">
		<view type="grid" name="invoice-refund-grid"/>
		<view type="kanban" name="gst-invoice-kanban" />
		<view type="form" name="invoice-form"/>
		<view-param name="search-filters" value="customer-refunds-filters"/>
		<domain>self.operationTypeSelect = 4</domain>
		<context name="_operationTypeSelect" expr="eval:4"/>
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>
			
	<action-view name="invoice.root.purchase.supinvoices" title="Suppl. Invoices"
		model="com.axelor.apps.account.db.Invoice" id="gst.invoice.root.purchase.supinvoices">
		<view type="grid" name="invoice-supplier-grid"/>
		<view type="kanban" name="gst-invoice-kanban" />
		<view type="form" name="invoice-form"/>
		<view-param name="search-filters" value="supplier-invoices-filters"/>
		<domain>self.operationTypeSelect = 1</domain>
		<context name="_operationTypeSelect" expr="eval:1"/>
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>

	<action-view name="invoice.root.purchase.suprefunds" title="Suppl. Refunds"
		model="com.axelor.apps.account.db.Invoice" id="gst.invoice.root.purchase.suprefunds">
		<view type="grid" name="invoice-supplier-refund-grid"/>
		<view type="kanban" name="gst-invoice-kanban" />
		<view type="form" name="invoice-form"/>
		<view-param name="search-filters" value="supplier-refunds-filters"/>
		<domain>self.operationTypeSelect = 2</domain>
		<context name="_operationTypeSelect" expr="eval:2"/>
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>	
		
</object-views>

