<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


	<menuitem name="gst-root" title="GST" order="-90"
		tag-get="com.axelor.mail.web.MailController:inboxMenuTag()"
		tag="Application" tag-style="info" icon="fa-book"
		icon-background="green" />

	<menuitem name="admin-root-organisation-state"
		parent="admin-root-organisation-territory" title="State"
		action="admin.root.organisation.state" tag="ADDED" />

	<action-view name="admin.root.organisation.state"
		title="States" model="com.axelor.gst.db.State">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>
</object-views>

